body {
	font: 'Raleway', sans-serif;
    color: rgba(0,0,0,.5);
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .5em;
    top: 15%;
	/*background: linear-gradient(to right, red , yellow); /* Standard syntax */
    background: linear-gradient(to right, #ff8080, #FFB9B9); 
}

h1 {
    font: 600 3.5em 'Raleway', sans-serif;
    color: rgba(0,0,0,.5);
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .5em;
    width: 100%;
}

h3 {
	font: 900 1em 'Raleway', sans-serif;
    color: rgba(0,0,0,.5);
    text-align: center;
    text-transform: uppercase;
    /*text-transform: none;*/
    letter-spacing: 0.01em;

}

.typeOfUser {
    display: inline-block;
    font: 900 1em 'Raleway', sans-serif;
    padding: 3px 5px;
    margin: 0px 3px;
    box-shadow: 1px 1px 1px rgba(0,0,0,0.05) inset;
    color: #fff;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.1);
    background: rgba(104,171,194,0.2);
}

.container {
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 1000px;
    height: 300px;
    /*background-color: #ccc;*/
    border-radius: 3px;
}


.customizeColor {
    position: absolute;
    bottom: 10px;
    right: 25%;
    left: 25%;
}
